### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
.classpath
.project
.settings/

### Spring Boot ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db

### Docker volumes ###
mysql_data/
